@import '../styles/colors.scss';

.status {
  color: white;
  padding: 2px 6px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
}

.processing {
  background-color: #b99f31;
}
.submitted {
  background-color: #392ebd;
}
.created {
  background-color: #392fbd;
}
.accepted {
  background-color: $secondary;
}

.delivered {
  background-color: #2ebd66;
}
.cancelled {
  background-color: red;
}

.order-section {
  padding-left: 5px;
  flex-grow: 1;
  text-align: right;
}

.order-list {
  list-style-type: none;
  padding-inline-start: 0;
}
.order-list-item {
  display: flex;
  align-items: center;
  padding: 1em 0;
  background: white;

  &:last-of-type {
    border-bottom: none;
  }
}
.order-list-item-name {
  flex: 4;
  padding: 0 5px;
}
.order-list-item-quantity {
  flex: 1;
}
.order-list-item-price {
  flex: 1;
  text-align: right;
}
