@import '../styles/colors.scss';

.toast {
  padding: 15px;

  margin: 16px;
}
.primary {
  background-color: rgba($color: $primary, $alpha: 0.21);
}

.secondary {
  background-color: rgba($color: $secondary, $alpha: 0.21);
}

.info {
  background-color: #fff;
}
