@import '../styles/colors.scss';

.toast {
  padding: 15px;
  box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
  margin: 16px;
}
.primary {
  background-color: rgba($color: $primary, $alpha: 0.21);
}

.secondary {
  background-color: rgba($color: $secondary, $alpha: 0.21);
}

.info {
  background-color: #fff;
}
