@import '../styles/colors.scss';

.toast {
  padding: 15px;
}
.primary {
  background-color: transparent;
  padding: 0 15px;
}

.secondary {
  background-color: #cce5ff;
  border-color: #b8daff;
}
.main {
  background-color: rgba($color: $primary, $alpha: 0.21);
  color: $primary;
}
.info {
  background-color: rgba($color: $info, $alpha: 0.21);
  color: #e38000;
}
