.location-list {
  background: white;
  padding: 1em 0;

  //&:
}

.location-list-item {
  cursor: pointer;
  padding: 10px 1em;

  &:hover {
    background-color: #e5e5e5;
  }
  p {
    margin-bottom: 0;
  }
}
