@import '../styles/colors.scss';

.typography {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}
.title {
  margin: 0;
}
.secondary {
  color: $secondary;
}
.primary {
  color: $primary;
}
.white {
  color: white;
}

.gray {
  color: #868686;
}

.bold {
  font-weight: 600;
}
.info {
  color: darken($info, 20%);
}
