@import "../styles/colors.scss";

.typography {
text-decoration: none;



}

.secondary{
    color: $secondary;
}
.primary {
    color: $primary;
}
.white {
color: white;
}

.gray{
    color: #868686;
}
