.customer-list-item {
  margin: 10px;


  &:hover {
    background-color: rgba(153, 23, 23, 0.1);
  }
  .header {
    display: flex;
    padding: 10px 10px;
    align-items: center;
    position: relative;
  }

  .customer-info {
    margin-left: 1em;
  }
}
