.customer-list-item {
  margin: 10px;

  &:hover {
    background-color: #e5e5e5;
  }
  .header {
    display: flex;
    padding: 10px 10px;
    align-items: center;
    position: relative;
  }

  .customer-info {
    margin-left: 1em;
  }
}
