.customer-list-item {
  margin: 10px;

  background-color: #fff;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
  .header {
    display: flex;
    padding: 10px 10px;
    align-items: center;
  }

  .customer-info {
    margin-left: 1em;
  }
}
