$primary: #f0324b;
$secondary: #011627;
$danger: #ef354c;
$info: #ffdc4a;
$success: #ffffff;
$inputbg: #e5e5e5;
$gray-100: #f3f7fb;
$gray-200: #dfe6f1;
$gray-300: #bfcada;
$gray-400: #a5b1c4;
$gray-500: #95a8bb;
$gray-600: #6f88a2;
$gray-700: #3d6084;
$gray-800: #224272;
$gray-900: #2d3848;
