body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
}
.f-form {
  border-radius: 8px;
  border: none;
  display: block;
  flex-shrink: 0;
  margin: 0 auto;
  min-height: 0;
  transition: 0.2s;
  max-width: 450px;
  width: 95%;
  padding: 10px 5px;
  position: relative;
}

.flex {
  display: flex;
}

.central {
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  &::before {
    min-height: 30px;
    padding: 10px;
    content: '';
    display: block;
    box-flex: 1;
    flex-grow: 1;
    height: 24px;
  }

  &::after {
    content: '';
    display: block;
    box-flex: 1;
    flex-grow: 1;
    height: 24px;
    min-height: 63.9996px;
  }
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100px;
  height: 100px;
  font-size: 40px;
  line-height: 30px;
  padding-top: 10px;

  span {
    color: #333;
    font-size: 12px;

    font-weight: 600;
    text-transform: uppercase;
  }
}
.brand-div {
  text-align: center;
  margin: 10px;
}

.loader-svg {
  position: absolute;
  top: 0;

  left: 0;
  width: 100px;
  height: 100px;
}

.customers,
.orders {
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  max-width: 550px;
  min-height: 50vh;
}
@media all and (min-width: 699px) {
  .f-form {
    padding: 30px;
    border: 1px solid #dadce0;
    background-color: white;
  }
  .customers,
  .orders {
    width: 85%;
    padding: 20px 10px;
    margin: 10px auto;
  }
}
