body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(#000000, 0.4);
}

a {
  text-decoration: none !important;
  color: #000 !important;
}
.add-div {
  position: relative;
}
.f-form {
  border-radius: 8px;
  border: none;
  display: block;
  flex-shrink: 0;
  margin: 0 auto;
  min-height: 0;
  transition: 0.2s;
  max-width: 500px;
  width: 95%;
  padding: 10px 5px;
  position: relative;
}
.collapse-sm {
  max-width: 240px;
}
.flex {
  display: flex;
}

main {
  overflow-x: hidden;
}
.collapse-sm:not(.show) {
  display: none;
}
.central {
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  &::before {
    min-height: 30px;
    padding: 10px;
    content: '';
    display: block;
    box-flex: 1;
    flex-grow: 1;
    height: 24px;
  }

  &::after {
    content: '';
    display: block;
    box-flex: 1;
    flex-grow: 1;
    height: 24px;
    min-height: 63.9996px;
  }
}
#contents {
  position: relative;
  transition: 0.3s;
}
.brand-div {
  text-align: center;
  margin: 10px;
}

.ml {
  display: flex;
  margin-bottom: 1em;
  padding: 1em;
}
.center {
  align-items: center;
}
.loader-svg {
  position: absolute;
  top: 0;

  left: 0;
  width: 100px;
  height: 100px;
}

.orders {
  width: 100%;
  padding: 10px 0 0;

  max-width: 550px;
  min-height: 50vh;
  background-color: #fff;
}
.filters {
  font-size: 14px;
  text-align: center;
  overflow-x: scroll;
  padding: 10px;
  span {
    margin-right: 1em;
  }
}
.side-nav {
  float: left;
  height: 100vh;
  width: 280px;
  background-color: #fff;

  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  overflow-x: hidden;
  z-index: 9999;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.show-side-nav {
  -webkit-transform: translateX(-280px);
  -moz-transform: translateX(-280px);
  transform: translateX(-280px);
}
.customerPage {
  display: block;
}
.hide {
  -webkit-transform: translateX(-280px);
  -moz-transform: translateX(-280px);
  transform: translateX(-280px);
}
.shadowf {
  box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
}

.disp {
  position: absolute !important;
  z-index: 9999;
  background-color: #fff;
}
.none {
  display: none;
}
.container {
  width: 100%;
  margin: 0 auto;
}
@media all and (min-width: 699px) {
  .f-form {
    padding: 30px;
  }

  .orders {
    margin: 10px auto;
  }
  .container {
    width: 85%;
    margin: 0 auto;
    position: relative;
  }
  .filters {
    overflow-x: hidden;
  }

  td {
    //margin: 10px;
    padding: 20px;
  }
}
.food-items {
  display: grid;
  padding: 8px;
  max-width: 900px;
  margin: 1.5rem auto;
  grid-row-gap: 1rem;
  flex-direction: column;
}
@media all and (min-width: 699px) {
  .food-items {
    padding: 0;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: auto auto;
    grid-row-gap: 1rem;
  }
}

@media all and (min-width: 799px) {
  .food-items {
    padding: 0;
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    //margin: 1.5em 0;

    grid-template-columns: auto auto;
  }
  .collapse-sm:not(.show) {
    display: block;
  }
  .hide {
    transform: translateX(0);
  }
  #contents {
    margin-left: 280px;
  }
  .side-nav {
    z-index: 99;
  }
}

@media (min-width: 1200px) {
  .customerPage {
    display: grid;
    grid-template-columns: auto 350px;
  }
  .food-items {
    padding: 0;
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    //margin: 1.5em 0;

    grid-template-columns: auto auto auto;
  }
}

.placeload-background {
  height: 10px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: auto;
  background-size: 1000px 104px;

  position: relative;
  overflow: hidden;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
