@import '../styles/colors.scss';
.onboard-section {
  display: flex;
  width: 60%;
  min-width: 280px;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;

  &::before {
    position: absolute;
    width: 90%;
    height: 3px;
    background-color: $primary;
    content: '';
    top: 50%;
    left: 5%;
  }
}

.done {
  background-color: $success !important;
  color: white;
  z-index: 99;
}
.active {
  background-color: #392fbd !important;
  z-index: 99;
  color: #fff;
}

.pending {
  background-color: $primary !important;
  color: #fff;
  z-index: 99;
}
