.main-div {
}

.location-list {
  background: white;
  padding: 1em;
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3),
    0 4px 8px 3px rgba(60, 64, 67, 0.15);
  position: absolute;
  width: 60%;
  max-height: 150px;
  overflow-y: scroll;
  bottom: 50px;
  width: 100%;
  min-width: 250px;
  z-index: 9999;
}

.location-list-item {
  cursor: pointer;
  padding: 10px 0;
  bottom: 204px;
  &:hover {
    background-color: #e5e5e5;
  }
  p {
    margin-bottom: 0;
  }
}

.location-list-item-span {
  color: gray;
  font-size: 14px;
  float: right;
}
